<div class="about">
    <h3>Here Is What Our ProGrads Have To Say</h3>
    <div class="container">
        <article class="details">
            <img src="../../assets/person.png" alt="">
            <p><span>SWATI SAXENA, FSJ0520A108</span></p>
            <p>ProGrad is not like other online programming courses.It is not a kind of spoon feeding. It is such platform where we can learn real-time exposure as well as we gone meet different people from different place collective collabrated, Shares Knowledge and skill happens here as well
                as we will be doing many projects which would really helpful for placement point of view </p>
        </article>
        <hr>
        <article>
            <img src="../../assets/person.png" alt="">
            <p><span>PRAVESH, FSD0A0221</span> </p>
            <p>ProGrad is not like other online programming courses. It is entirely a self-learning journey. You can learn by doing. The practise sessions given in this program was very useful. My mentor motivated me and helped me to crack the aptitude round
                of Mphasis.</p>
        </article>
        <hr>
        <article class="details">
            <img src="../../assets/person.png" alt="">
            <p><span>ROBIN HOODA, FSD0B0001</span></p>
            <p>Prograd not only helped me in utilized my knowledge to the best of my capability but also nurtured my my technical skills and competance.
            </p>
        </article>
        <hr>
    </div>
</div>