<div class="home">
    <div>
        <img src="../../assets/profile.png" class="image" alt="ProGrad">
    </div>
    <h1>Hear It From Our ProGrads</h1>

    <p>Being a ProGrad is a life-time experience. In the past, we have several times tried showing the world what  is to be a ProGrad. But,we soon realised that no one  can better describe this journey than our ProGrads  themselves</p>
    <p><b>So here we are with a mission to let the world hear  it from our ProGrads!</b></p>
    <p class="hash">#ProudProGrads #YourDreamOurMission</p>
</div>
<br><br><br><br><br>